/* CSS Styles file for Google Homepage */
/* 
=============
Reset Styles
=============
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
=============
Global styles
=============
*/
body,
input,
button {
  font-family: arial, sans-serif;
}
input {
  outline: none;
}

/* 
=============
Google logo & Search Bar
=============
*/
.google-logo {
  display: block;
  margin: 10rem auto;
  margin-bottom: 5%;
}
.search-bar-container {
  width: 80%;
  margin: 1.5rem auto;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  /* background-color: red; */
}
.search-icon-container {
  position: relative;
}
.search-icon {
  position: absolute;
  color: #85878a;
  top: 0.85em;
  left: 1em;
}
.search-bar {
  display: block;
  width: 85%;
  font-size: 1rem;
  margin: 0.75rem auto;
  border-style: none;
}
.voice-search-icon-container {
  position: relative;
}
.voice-search-icon {
  position: absolute;
  color: #85878a;
  top: 0.85em;
  right: 1em;
}
.search-bar-container:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
